In [2]:
import numpy as np
import pandas as pd
import seaborn as sb
from scipy import stats
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('dataset/diabetes.csv')
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0
3,1883350,9,103,78,25,304,29.582192,1.282870,43,1
4,1424119,1,85,59,27,35,42.604536,0.549542,22,0

In [3]:
df["SerumInsulin"].head()

0     23
1     36
2     35
3    304
4     35
Name: SerumInsulin, dtype: int64

In [4]:
mpg_labels = [1, 2, 3]
cortes=[1,60,140,30000]

bins_insulin = pd.cut(df['SerumInsulin'],cortes, labels=mpg_labels)
bins_insulin.head()

0    1
1    1
2    1
3    3
4    1
Name: SerumInsulin, dtype: category
Categories (3, int64): [1 < 2 < 3]

In [5]:
bins_insulin.value_counts()

3    6228
1    6063
2    2709
Name: SerumInsulin, dtype: int64

In [6]:
df['rangos de insulina']=bins_insulin

In [7]:
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,rangos de insulina
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0,1
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0,1
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0,1
3,1883350,9,103,78,25,304,29.582192,1.282870,43,1,3
4,1424119,1,85,59,27,35,42.604536,0.549542,22,0,1

In [9]:
dt=df.loc[:, df.columns != 'SerumInsulin']

In [10]:
dt.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,BMI,DiabetesPedigree,Age,Diabetic,rangos de insulina
0,1354778,0,171,80,34,43.509726,1.213191,21,0,1
1,1147438,8,92,93,47,21.240576,0.158365,23,0,1
2,1640031,7,115,47,52,41.511523,0.079019,23,0,1
3,1883350,9,103,78,25,29.582192,1.282870,43,1,3
4,1424119,1,85,59,27,42.604536,0.549542,22,0,1

In [11]:
columnas=dt.columns

In [16]:
anova = []
for col in columnas:      

    a = (stats.f_oneway(
            dt[col][dt['rangos de insulina']==1],
            dt[col][dt['rangos de insulina']==2],
            dt[col][dt['rangos de insulina']==3])) 
    anova.append((col, a))
anova
#si es menor que 0.05 vemos que estan relacionados con la columna bins_quality
columnas_importantes=[i[0] for i in anova if i[1][1]<0.05]
columnas_importantes

C:\Users\NAIN\anaconda3\lib\site-packages\scipy\stats\stats.py:3641: F_onewayConstantInputWarning: Each of the input arrays is constant;the F statistic is not defined or infinite
  warnings.warn(F_onewayConstantInputWarning())

['Pregnancies',
 'PlasmaGlucose',
 'DiastolicBloodPressure',
 'TricepsThickness',
 'BMI',
 'DiabetesPedigree',
 'Age',
 'Diabetic',
 'rangos de insulina']

In [17]:
dt.dtypes

PatientID                    int64
Pregnancies                  int64
PlasmaGlucose                int64
DiastolicBloodPressure       int64
TricepsThickness             int64
BMI                        float64
DiabetesPedigree           float64
Age                          int64
Diabetic                     int64
rangos de insulina        category
dtype: object

In [18]:
columnas=dt.columns

In [19]:
data=dt[columnas_importantes]
data.head()

,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,BMI,DiabetesPedigree,Age,Diabetic,rangos de insulina
0,0,171,80,34,43.509726,1.213191,21,0,1
1,8,92,93,47,21.240576,0.158365,23,0,1
2,7,115,47,52,41.511523,0.079019,23,0,1
3,9,103,78,25,29.582192,1.282870,43,1,3
4,1,85,59,27,42.604536,0.549542,22,0,1

In [22]:
data.to_csv("dataset/clasificacion.csv")

In [3]:
ns = pd.read_csv('dataset/clasificacion.csv',index_col=0)
ns.head(50)

,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,BMI,DiabetesPedigree,Age,Diabetic,rangos de insulina
0,0,171,80,34,43.509726,1.213191,21,0,1
1,8,92,93,47,21.240576,0.158365,23,0,1
2,7,115,47,52,41.511523,0.079019,23,0,1
3,9,103,78,25,29.582192,1.282870,43,1,3
4,1,85,59,27,42.604536,0.549542,22,0,1
5,0,82,92,9,19.724160,0.103424,26,0,3
6,0,133,47,19,21.941357,0.174160,21,0,3
7,0,67,87,43,18.277723,0.236165,26,0,1
8,8,80,95,33,26.624929,0.443947,53,1,1
9,1,72,31,40,36.889576,0.103944,26,0,1
10,1,88,86,11,43.225041,0.230285,22,0,1
11,3,94,96,31,21.294479,0.259020,23,0,1
12,5,114,101,43,36.495320,0.079190,38,1,2
13,7,110,82,16,36.089293,0.281276,25,0,1
14,0,148,58,11,39.192076,0.160829,45,0,3
15,3,109,77,46,19.847312,0.204345,21,1,2
16,3,106,64,25,29.044573,0.589188,42,1,1
17,1,156,53,15,29.786192,0.203824,41,1,3
18,8,117,39,32,21.230996,0.089363,25,0,3
19,3,102,100,25,42.185720,0.175593,43,1,3
20,0,92,84,8,21.866260,0.258332,33,0,3
21,0,118,95,7,42.500887,0.083558,24,0,3
22,1,82,55,18,36.628249,0.171620,23,0,3
23,1,124,82,42,34.985772,0.083335,25,0,3
24,2,44,81,46,34.534082,0.693502,55,1,3
25,9,104,68,42,51.855401,0.182938,21,1,1
26,6,135,91,31,45.274113,0.707163,21,1,1
27,3,163,87,42,18.571188,0.777016,25,0,3
28,0,119,50,52,45.391121,0.270567,22,0,1
29,0,70,64,9,20.985223,0.137393,33,0,1
30,11,75,89,8,29.422754,0.083732,47,1,3
31,8,152,83,42,18.909545,0.602582,34,0,1
32,0,149,50,8,46.320597,1.071584,42,0,2
33,3,123,61,29,28.091062,1.893404,25,0,1
34,2,74,87,33,50.549888,0.113913,46,1,3
35,7,45,66,44,35.080211,0.178296,23,0,1
36,3,152,47,44,18.765964,0.156563,21,0,2
37,0,85,81,31,21.364313,0.302663,23,0,1
38,2,104,77,47,23.392675,0.174089,23,1,2
39,7,108,95,10,19.235419,0.124638,26,0,3
40,2,118,61,56,35.991125,0.125032,21,1,2
41,1,85,80,35,50.504035,0.118579,22,0,3
42,0,148,69,11,38.904575,0.451848,24,0,1
43,0,76,85,25,18.856769,0.771367,22,0,3
44,5,104,52,41,48.840326,0.701383,22,1,3
45,2,165,64,7,40.915641,0.091441,22,0,2
46,5,117,95,26,26.689641,0.202320,21,1,3
47,9,104,51,7,27.369832,1.350472,43,1,1
48,6,73,61,35,18.743674,1.074148,75,0,1
49,4,115,50,29,34.692154,0.741160,59,1,3